---
import { Image } from "astro:assets";
import Logo from "../components/Logo.astro";
import { ChevronRightIcon } from "lucide-solid";
import screenshotImage from "../assets/screenshot.png";
import FeatureCard from "../components/FeatureCard.astro";
import RoadmapItem from "../components/RoadmapItem.astro";

import "../global.css";
import BaseHead from "../components/BaseHead.astro";

const loginLink = `${import.meta.env.DEV ? "http" : "https"}://${
  import.meta.env.PUBLIC_APP_DOMAIN
}/login`;

const currentYear = new Date().getFullYear().toString();
---

<html lang="en">
  <head>
    <BaseHead />

    <title>Simple email for everyone - Volamail</title>

    <meta
      name="description"
      content="Write emails with the help of AI and send them with an API call. E-mail shouldn't be so difficult."
    />
    <meta
      name="keywords"
      content="email, ai, api, email api, open-source, self-hostable, free, pro, enterprise, startup, small team, large team, large company, email tooling, email automation, email marketing, marketing automation, marketing software, automation software, automation tool, automation platform, automation software, automation tool, automation platform, self-hosted, hosted, cloud, serverless, web, frontend, backend, platform, software"
    />
  </head>
  <body>
    <main class="flex flex-col min-h-dvh justify-center items-center">
      <div
        class="p-8 bg-grid-black/5 w-full relative flex flex-col justify-start"
      >
        <div
          class="absolute pointer-events-none inset-0 w-full flex items-center justify-center bg-white [mask-image:radial-gradient(ellipse_at_center,transparent_20%,white)]"
        >
        </div>

        <section
          class="max-w-5xl gap-8 py-32 mx-auto w-full flex flex-col justify-center text-center items-center relative"
        >
          <div class="flex flex-col gap-12 max-w-md">
            <div class="flex flex-col gap-4">
              <h1 class="text-5xl font-black">
                Simple email
                <br /> for everyone
              </h1>
              <p class='text-gray-700"'>
                Write email templates with the help of AI and send them with an
                API call. E-mail shouldn't be so difficult.
              </p>
            </div>

            <div class="flex gap-8 justify-center items-center">
              <a
                href={loginLink}
                class="bg-black inline-flex cursor-default gap-1.5 items-center self-center text-center hover:bg-gray-700 transition-colors text-white px-4 py-2 rounded-full text-sm font-medium"
              >
                Get started
                <ChevronRightIcon class="size-4" />
              </a>

              <a
                href="mailto:info@volamail.com"
                class="text-black text-sm cursor-default transition-colors hover:text-gray-500 inline-flex gap-1.5 items-center"
              >
                Contact us
                <ChevronRightIcon class="size-4" />
              </a>
            </div>
          </div>
        </section>

        <a
          href="https://www.producthunt.com/posts/volamail?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-volamail"
          target="_blank"
          class="inline-block z-50 cursor-default hover:opacity-75 transition-opacity self-center -mb-6"
        >
          <img
            src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=479469&theme=neutral"
            alt="Volamail - Open source AI-powered email for everyone | Product Hunt"
            style="width: 250px; height: 54px;"
            width="250"
            height="54"
          />
        </a>
        <Image
          src={screenshotImage}
          class="w-full mb-20 hidden shadow-2xl md:block mx-auto max-w-6xl border z-20 rounded-xl"
          alt="Screenshot of the Volamail dashboard with an example email template for a sportswear company campaign"
          sizes="1280px"
        />
      </div>
      <section
        class="flex flex-col gap-4 max-w-5xl w-full px-8 z-10 mb-12 mt-8"
      >
        <h2 class="text-3xl font-bold">Features</h2>
        <div class="flex flex-col sm:grid grid-cols-2 grid-rows-2 gap-4">
          <FeatureCard title="AI-assisted editing">
            You can write and compose email templates with the help of AI
            prompts. You can also select a single element to edit and prompt the
            AI to make changes to it.
          </FeatureCard>
          <FeatureCard title="Importing emails">
            The AI-based editor works with plain HTML, so you can gradually try
            out the platform by import your existing emails.
          </FeatureCard>
          <FeatureCard title="Self-hosting">
            Volamail is 100% open source and self-hostable. There are very few
            moving parts so you can easily deploy it to your own infrastructure.
          </FeatureCard>
          <FeatureCard title="Send via a simple HTTP call">
            There's no need for dependencies or bulky SDKs. Transactional emails
            can be sent by developers with a plain HTTP call.
          </FeatureCard>
        </div>
      </section>

      <section class="flex flex-col max-w-5xl w-full gap-8 px-8 z-10 my-12">
        <div class="flex flex-col gap-2">
          <h2 class="text-3xl font-bold">Roadmap</h2>
          <p class="text-gray-600">
            We're constantly working on new features and improving the
            experience. Here's a list of things we're working on:
          </p>
        </div>

        <ul class="flex flex-col md:grid grid-cols-2 list-disc gap-2">
          <RoadmapItem done> AI template generation </RoadmapItem>
          <RoadmapItem done> Inline AI editing </RoadmapItem>
          <RoadmapItem done> Custom domains </RoadmapItem>
          <RoadmapItem done> Media uploads </RoadmapItem>
          <RoadmapItem done> Image prompting</RoadmapItem>
          <RoadmapItem done> Import HTML emails</RoadmapItem>
          <RoadmapItem done> HTML export</RoadmapItem>
          <RoadmapItem> Email Localization</RoadmapItem>
          <RoadmapItem> Marketing emails </RoadmapItem>
          <RoadmapItem> Scheduled sending </RoadmapItem>
          <RoadmapItem> Dedicated IPs </RoadmapItem>
        </ul>
      </section>

      <section class="flex flex-col gap-4 max-w-5xl w-full px-8 my-12">
        <h2 class="text-3xl font-bold">Pricing</h2>
        <p class="text-gray-600">
          Simple, predictable pricing that scales with your needs.
        </p>

        <div class="flex flex-col gap-4">
          <div
            class="border border-gray-300 bg-gray-50 rounded-lg p-4 flex flex-col gap-1"
          >
            <h3 class="font-semibold text-xl">Self-hosted</h3>
            <p class="text-gray-600 text-sm">
              Pay nothing and get access to all features, forever. Hosting
              Volamail on your own cloud is meant to be easy.
              <a
                class="underline"
                href="https://docs.volamail.com/self-hosting/guide"
              >
                See self-hosting docs.
              </a>
            </p>
          </div>
          <div class="flex items-center gap-2">
            <hr class="grow" />
            <span class="text-gray-400 text-xs">Or try our hosted plans</span>
            <hr class="grow" />
          </div>
          <div class="flex flex-col md:flex-row gap-2">
            <div
              class="border flex-1 border-gray-300 bg-gray-50 rounded-lg p-4 flex flex-col gap-4"
            >
              <div class="flex flex-col gap-4 grow">
                <div class="flex flex-col gap-1">
                  <h3 class="font-semibold text-xl">Free</h3>
                  <p class="font-bold text-2xl">
                    $0<span class="text-sm">/month</span>
                  </p>
                </div>
                <p class="text-gray-600 text-sm">
                  Our free hosted plan, suited for small projects and people
                  that just want to try the platform.
                </p>

                <p class="text-gray-600 text-sm">
                  You'll be able to try most features in Volamail with a 500
                  emails per month quota.
                </p>

                <ul
                  class="grow justify-end text-sm list-disc pl-3 gap-1 text-gray-600 flex flex-col"
                >
                  <li>Base AI model</li>
                  <li>500 emails/month</li>
                  <li>Unlimited AI generations and edits</li>
                  <li>2 projects</li>
                  <li>20MB image storage per project</li>
                </ul>
              </div>

              <a
                href={loginLink}
                class="bg-transparent text-center hover:bg-gray-200 cursor-default transition-colors text-black border-black border px-4 py-2 rounded-lg text-sm font-medium"
              >
                Get started
              </a>
            </div>

            <div
              class="border flex-1 border-black bg-gray-50 rounded-lg p-4 flex flex-col gap-4"
            >
              <div class="flex flex-col gap-4 grow">
                <div class="flex flex-col gap-1">
                  <h3 class="font-semibold text-xl">Pro</h3>
                  <p class="font-bold text-2xl">
                    $19<span class="text-sm">/month</span>
                  </p>
                </div>
                <p class="text-gray-600 text-sm">
                  Our main plan, suited for startups, small teams or large solo
                  projects.
                </p>

                <p class="text-gray-600 text-sm">
                  You'll get access to every feature in Volamail, a better AI
                  model and a higher monthly email quota.
                </p>

                <ul
                  class="grow justify-end text-sm list-disc pl-3 gap-1 text-gray-600 flex flex-col"
                >
                  <li>Better AI model</li>
                  <li>10000 emails/month</li>
                  <li>Unlimited AI generations and edits</li>
                  <li>5 projects</li>
                  <li>50MB image storage per project</li>
                </ul>
              </div>

              <a
                href={loginLink}
                class="bg-black text-center hover:bg-gray-700 cursor-default transition-colors text-white px-4 py-2 rounded-lg text-sm font-medium"
              >
                Get started
              </a>
            </div>
            <div
              class="border flex-1 border-gray-300 bg-gray-50 rounded-lg p-4 flex flex-col gap-2"
            >
              <div class="flex flex-col gap-2 grow">
                <h3 class="font-semibold text-xl">Custom plans</h3>

                <p class="text-gray-600 text-sm">
                  We offer custom plans for larger teams or companies that need
                  higher quotas or different feature-sets.
                </p>
                <p class="text-gray-600 text-sm">
                  Don't hesitate to reach out even if you're a smaller company,
                  our plans are affordable and we'll work with you to find the
                  best fit.
                </p>
              </div>

              <a
                href="mailto:info@volamail.com"
                class="border-black border hover:bg-gray-200 cursor-default transition-colors bg-transparent text-center px-4 py-2 rounded-lg text-sm font-medium"
              >
                Contact us
              </a>
            </div>
          </div>
        </div>
      </section>

      <footer
        class="w-full border-t max-w-5xl mx-auto justify-between border-gray-100 p-8 flex items-center"
      >
        <div class="flex gap-3 items-center">
          <Logo class="w-6" />
          <span class="text-sm text-gray-500">
            Volamail © 2023 - {currentYear}
          </span>
        </div>
        <div class="flex gap-6 items-center text-sm">
          <a
            href="https://docs.volamail.com"
            target="_blank"
            class="text-gray-500 hover:text-black cursor-default transition-colors"
          >
            Docs
          </a>
          <a
            href="https://discord.gg/2mqaUv4urR"
            target="_blank"
            class="text-gray-500 hover:text-black cursor-default transition-colors"
          >
            Discord
          </a>
          <a
            href="https://github.com/volamail/volamail"
            target="_blank"
            class="text-gray-500 hover:text-black cursor-default transition-colors"
          >
            GitHub
          </a>
          <a
            href="https://x.com/volamail"
            target="_blank"
            class="text-gray-500 hover:text-black cursor-default transition-colors"
          >
            X
          </a>
        </div>
      </footer>
    </main>
  </body>
</html>
